.root {
	-fx-base: #99ccff;
	-fx-background: #33ccff; /*rgb(150, 50, 80)*/;
	-fx-control-inner-background: rgb(228, 243,242);
	-fx-background-image: url("playground.jpg")
} 

.hbox{
	-fx-background: #33ccff;
	/* -fx-control-inner-background: #ff8080;*/
}

.button, .toggle-button, .choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 9px 16px 9px 16px;
}